<%- include('../partials/header') %>
<div class="row">
    <div class="col-md-6">
        <div class="card p-3 m-3">
            <h1 class="card-title"><%= user.firstName + " " + user.lastName %></h1>
            <img class="card-img-top" src="<%= user.avatar %>" alt="user profile image">
            <div class="container mt-3">
                <strong>Email:</strong> <a href="mailto:<%= user.email %>"><%= user.email %></a>
            </div>
            <p class=" card-text mt-3">I recognized that if I wanted my son to grow up confident, I needed to model
                that behavior:
                step out of my comfort zone, make bolder decisions in terms of my career progression and seize all
                opportunities that came my way, so that my son need never miss out.
                <br />
                <br />
                I began to do a lot of self-development work – coaching, training courses and reading. I soon
                realized
                that
                contrary to what I’d always believed about myself, a lack of confidence wasn’t my issue. I might not
                be
                as
                confident as I could be in every single situation, but I took bold decisions and was far more
                assured in
                my
                opinions and ideas than some of my louder colleagues.</p>
        </div>
    </div>
    <div class="col-md-6">
        <h3><%= user.username %>'s campgrounds:</h3>
        <ul>
            <% campgrounds.forEach(function(campground) { %>
            <li><a href="/campgrounds/<%= campground.slug %>"><%= campground.name %></a></li>
            <% }); %>
        </ul>
        <br>
        <% if (currentUser && !user._id.equals(currentUser._id)){ %>
        <a href="/follow/<%= user.id %>"><button class="btn btn-primary">Follow <%= user.username %></button></a>
        <% }; %>
    </div>
</div>
<%- include('../partials/footer') %>